body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background:black;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: x-large;
    border: 1px solid rgb(22, 185, 62);
    margin: auto;
}
.la{
    align-items: center;
    /* margin-top: 150px; */
    
    
}

h1 {
    color:rgb(66, 201, 66);
}

#message-el {
    font-style: italic;
    color: rgb(253, 72, 72);
}

button {
    cursor: pointer;
    color: #f2ff7a;
    width: 150px;
    background: rgb(15, 161, 59);
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size:medium;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}